body {
     background-color: #A7DBD8;
    font-family: 'Expletus Sans', cursive;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Droid Serif', serif;
}
header{
    background-color: #F38630;
    height: 20%;
}

header ul {margin-top: 0; padding: 0; }
header li {display:inline; padding: 2%;}
nav a {text-decoration:none;}
nav a:hover {color: white;}


.centrado{
    width: 50%;
    /*background-color: #E0E4CC;*/
    margin: 0 auto;
}

.fondogris{
    background-color: #E0E4CC;
    padding: 1% 2%;
}
.indice li{
    margin-bottom: 2%;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Ribeye Marrow', cursive;
}
h2{
    border-bottom: 1% solid #F38630;
    font-family: 'Ribeye Marrow', cursive;
}
h1, h2, h3, h4{
    color: #F38630;
}
.logo{
    width: 75%;  
    display:block;
    margin: 0 auto;
}
.video{
    display: block;
    margin: 0 auto;
    height: 50%;
    width: 80%;
}
li img {
    width:10%;
    height:auto;
    vertical-align: middle;
    margin: 1%;
    border: 4px solid #A7DBD8;
    padding: 1%;
    background-color: #F38630;
}
.cantantes{
    list-style-type: none;
}
.lugar {color: grey;}

/*Formulario*/
#contacto{
    width:50%;
    margin: 0 auto;
}
input, select {
    display: block;
    width: 95%;
    margin-bottom: 3%;
}

input[type=submit], input[type=reset]{
    display: inline;
    width: 35%;
}
input[type=reset]{
    margin-right: 20%;
}
input[type=checkbox], input[type=radio], label[for=hombre], label[for=mujer], label[for=newsletter]{
 display: inline;
    width: auto;
}

